#header{
    color : #fff;
    background-color: #005f73;
}
#menu{
    margin : 0;
    padding : 0;
    list-style : none;
}
#logo{
    font-size: 1.7rem;
}
#menu li{
    display: inline-block;
}
#menu li a{
    color : white;
    padding : 15px 10px;
    display : block;
    text-decoration: none;
}
#menu li a:hover{
    background-color: #01404d;
}


#banner{
    background-size: cover;
    background-image : url("./alvin-engler.jpg");
}
.banner-title{
    padding-top : 5rem;
}
.banner-title h1{
    background-color: rgba(255, 255, 255, 0.8);
    display : inline-block;
    padding : 10px;
    margin : 0;
}
.banner-title p.lead{
    color : #fff;
    background-color: #005f73;
    padding : 10px;
}

.service-box{
    text-align: center;

}
.service-box i.fa{
    color : #005f73;
    font-size: 70px;
    margin-bottom: 15px;
}

.section{
    padding-top : 70px;
    padding-bottom : 70px;
}
.section h2.section-head{
    color : #000;
    text-align : center;
    margin-bottom : 40px;
}
.section h2.section-head:after{
    background : #005f73;
    content : "";
    display : block;
    width : 100px;
    height : 3px;
    margin : 20px auto;
}