*{
    padding : 0;
    margin : 0;
    border : border-box;
    font-family : Arial, Helvetica, sans-serif;
}
body{
    background-color : black;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* Nav bar */
nav{
    height : 92px;
    background-color: rgba(0, 0, 0, 0.75);
    display : flex;
    justify-content: center;
    align-items: center;
}
.nav-ke-andar{
    display : flex;
    width : 80%;
    display : flex;
    align-items: center;
}
.netflix-logo{
    width : 379px;
    height : 40px;
    display : flex;
    align-items: center;
    
}
.logo{
    background-image: url("./netflix-logonew.webp");
    background-size : cover;
    height : 70px;
    width : 129px;
}
.nav-second-part{
    width : 798.66px;
    height : 32px;
    display : flex;
    justify-content: flex-end;
}
.language{
    width : 114px;
    border : 1px solid white;
    margin-left : 2px;
    margin-right : 6px;
    display : flex;
    align-self: center;
    justify-content: center;
    padding : 5px;
    font-size : 1rem;
    color : white;
    border-radius : 3px;

}
.signin{
    width : 76px;
    margin-right : 2px;
    margin-left : 10px;
    display : flex;
    align-self : center;
    justify-content: center;
    padding : 5px;
    font-size: 1rem;
    background-color : red;
    color : white;
    border-radius : 3px;
}

/* -------------------------------------------------------------------------------------------------- */
header{
    height : 800px;
    background-image: url("./hero_img.jpg") ;
    width : 100%;
}

.hero-section{
    height : 708px;
    background-color: rgba(0, 0, 0, 0.75); 
}
.free-space{
    height : 150px;
}
.para1{
    height : 64.8px;
    width : 1170px;
    font-size : 44px;
    color : white;
    font-weight : 800;
    margin : auto;
}
.para2{
    width : 1170px;
    height : 32px;
    font-size : 24px;
    color : white;
    margin : auto;
    margin-top : 16px;
    margin-bottom : 16px;
}
h3{
    width : 920px;
    height : 30px;
    font : 20px;
    color : white;
    margin : auto;
    font-weight: 300;
    margin-bottom : 16px;
}

.hero-box{
    width : 700px;
    height : 56;
    display : flex;
    justify-content: center;
    justify-items: center;
}

.email{
    width : 369px;
    height : 56px;
    font-size : 20px;
    padding-left : 10px;
    border-radius : 4px;
    margin-right : 10px;
    background-color: rgba(0, 0, 0, 0.313);
    border : 1px solid white;
    color : white;
}
.start{
    width : 200px;
    height : 56px;
    background-color: red;
    color : white;
    font-size : x-large;
    display : flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 4px;
    margin-left : 10px;
}

/* ------------------------------------------------------------------------------------------------ */
.partition{
    height : 8px;
    background-color : grey;
}
.structure{
    width : 1170px;
    height : 438px;
    background-color : black;
    margin : auto;
    display : flex;
    justify-content: center;
    align-items: center;
}

.box1-content{
    color : white;
    height  : 160px;
    width : 585px;
}
.box1-content h2{
    font-size : 3rem;
    font-weight : 900;
}
.box1-content p{
    margin-top : 20px;
    font-size : 1.5rem;
}
.box1-image{
    background-size : cover;
    background-image : url("https://www.usnews.com/dims4/USNEWS/02a7499/2147483647/thumbnail/640x420/quality/85/?url=http:%2F%2Fmedia.beam.usnews.com%2F18%2F4a%2F11c529614ce7872fd85c0f8dfd06%2F200714-netflix-image1-submitted.jpg");
    height : 380px;
    width : 520px;
}
.box2-image{
    background-size : cover;
    background-image : url("./tv2.jpg");
    height : 380px;
    width : 520px;
}
.box3-image{
    background-size : cover;
    background-image : url("https://techcrunch.com/wp-content/uploads/2015/05/screen-shot-2015-05-20-at-11-51-30-am.png?resize=768");
    height : 380px;
    width : 520px;
}
.box4-image{
    background-size : cover;
    background-image : url("./tv4.png");
    height : 380px;
    width : 520px;
}

/* ---------------------------------------------------------------------------------------- */

/* FAQs */
.faq-section{
    height : 930px;
    color : white;
}
.faq-section h2{
    margin-top : 10px;
    font-size : 3rem;
    font-weight : 900;
}
.ques-container{
    width : 1158.64px;
    height : 84px;
    background-color: rgba(66, 64, 64, 0.954);
    display : flex;
    align-items: center;
    font-size : x-large;
    padding-left : 20px;
    margin : auto;
    margin-top : 15px;
}
.ques{
    width : 1100px;
}
.ques-container:hover{
    background-color: rgba(107, 104, 104, 0.954);
}
.ques6{
    margin-bottom : 30px;
}

/* --------------------------------------------------------------------------------------------------------- */

/* footer */
footer{
    margin-top : 15px;
}
.foot-panel{
    background-color: black;
    color : rgb(161, 161, 161);
    height : 400px;
    display : flex;
    justify-content: space-evenly;
}
u{
    margin-top : 20px;
}
u a{
    display : block;
    font-size: 1rem;
    margin-top : 20px;
}



