*{
    padding:0;
    margin: 0;
}
/* Nav bar */
nav{ 
    color:rgb(135, 89, 32);
    background-color:bisque;
    padding:1px;
    font-size:20px;
    margin-bottom:15px;
    position: fixed;
    width:100%;
    z-index: 1;
}

#tittle{
    margin:10px;
}
.row1{
    display : inline-block;
}

/* heading div */
#heading{
    position: relative;
    top:80px;
    bottom:15px;
    text-align: center;
    padding:25px;
    box-align :center;
    border-radius: 15px;
    background-color:rgb(105, 192, 192);
    color:rgb(16, 66, 66);
    align-items: center;
    margin-left:20%;
    margin-right:20%;
}

section{
    margin-left:20%;
    margin-right:20%;
    position:relative;
    top:100px;
}
img{
    border-radius:20px;
    height:250px;
    width: 300px;
    
}







